{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title 'Dashboard' %}
{% block content_title %}Dashboard{% endblock %}

{% block main %}
<section class="grid grid-cols-3 gap-5">
    <div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2">
        <div class="bg-blue-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
            <i class="text-xl fa fa-cog"></i>
        </div>
        <div class="col-span-3 flex flex-col justify-between">
            <span>projects</span>
            <span class="font-semibold text-xl">{{projects | length }}</span>
        </div>
    </div>
    <div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2">
        <div class="bg-green-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
            <i class="text-xl fa fa-users"></i>
        </div>
        <div class="col-span-3 flex flex-col justify-between">
            <span>visitors</span>
            <span class="font-semibold text-xl">{{visitors | length }}</span>
        </div>
    </div>
</section>
<section>
    <div class="">
        {{ render_chart(chart) }}
    </div>
</section>
{% endblock %}